SUPABASE_URL=YOUR_SUPABASE_URL
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
SPOTIFY_CLIENT_ID=YOUR_SPOTIFY_CLIENT_ID
SPOTIFY_CLIENT_SECRET=YOUR_SPOTIFY_CLIENT_SECRET
PORT=3000
JWT_SECRET=YOUR_RANDOM_SECRET_STRING_FOR_JWT
FRONTEND_URL=http://localhost:3001
REDIRECT_URI=http://localhost:3000/auth/callback
