SUPABASE_URL=YOUR_SUPABASE_URL
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
TWITCH_CLIENT_ID=YOUR_TWITCH_CLIENT_ID
TWITCH_CLIENT_SECRET=YOUR_TWITCH_CLIENT_SECRET
PORT=3000
JWT_SECRET=YOUR_RANDOM_SECRET_STRING_FOR_JWT
FRONTEND_URL=http://localhost:3001
REDIRECT_URI=http://localhost:3000/auth/callback
BASE_RPC_URL=YOUR_BASE_RPC_URL
PAYMENT_WALLET_ADDRESS=0xd108c3EFda7617648E73f02f56ed348049BdB9A9
FIXED_ETH_AMOUNT=0.0003
